.carousel-wrapper{/*блок со слайдером*/
  height:25vw;
  position:relative;
  width:50vw;
  margin:0 auto;
  border: solid 0.1vw;
 margin-top: 150px;
}

.carousel-item{/*элемент слайдера*/
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
  margin: 70px;
}

.arrow{/*редактирование рамки слайдера */
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
    background: plum;
}

.arrow-prev{/*редактирование переключателей назад*/
  left:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}

.arrow-next{/*редактирование переключателей вперед*/
    right:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
  }


/*выбор следующего эл-та*/
[id^="item"] {
    display: none;
  }

.item-1 {
    z-index: 2;
    opacity: 1;
  }

*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4  {
    z-index: 3;
    opacity: 1;
  }

  .topbutton {/*кнопка наверх*/
    width:5vw;
    height: 5vw;
    position:fixed;
    bottom:5vw;
    right:5vw;
    }

  .hotite{/*редактирование фразы хотите*/
    max-width: 45vw;
    margin: 0 auto;
    padding: 2vw;

  }
  .podpis{/*редактирование фразы подпишитесь*/
    max-width: 35vw;
    margin: 0 auto;
  }

  .container {/*редактирование блока фильтра*/
    width:90%;
    margin:0 auto;
    height: 90vw;
  }
  input[type="radio"] {/*переключатель*/
      display:none;
  }
  label {/*редактирование кнопок переключателей*/
    width:23%;
    float:left;
    text-align:center;
    background:#ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color:#222222;
    padding:0.5%;
    margin:0.5%;
    margin-bottom:30px;
    cursor:pointer;
    font-size: 2vw;
    font-family: Century Gothic, sans-serif;
  }
  input[type="radio"][id="blue"]:checked + label {/*цвет при нажатии*/
    background:#6666ff;
  }
  input[type="radio"][id="blue"]:checked ~ .red, input[type="radio"][id="blue"]:checked ~ .green {/*редактирование смены класса blue*/
    width:0;
    height:0;
    padding:0;
    margin:0;
    opacity:0;
  }
  input[type="radio"][id="red"]:checked + label {
    background:#6666ff;
  }
  input[type="radio"][id="red"]:checked ~ .blue, input[type="radio"][id="red"]:checked ~ .green {/*редактирование смены класса red*/
    width:0;
    height:0;
    padding:0;
    margin:0;
    opacity:0;
  }
  input[type="radio"][id="green"]:checked + label {
    background:#6666ff;
  }
  input[type="radio"][id="green"]:checked ~ .blue, input[type="radio"][id="green"]:checked ~ .red {/*редактирование смены класса green*/
    width:0;
    height:0;
    padding:0;
    margin:0;
    opacity:0;
  }
  
  .tile {/*редактирование одного блока товара*/
    width:23%;
    float:left;
    transition:all 0s;
    margin:0.5%;
    padding:0.5%;
    height: 35vw;
    background-color: rgb(168, 197, 241);
  }
  .sos{/*редактирование категории товара*/
    margin: 0 auto;
    font-size: 2vw;
    text-align: center;
  }
  .filtrimg{/*редактирование картинки товара*/
    width: 18vw;
    height: 18vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1vw;
    padding-bottom: 1vw;
  }
  .nnn{/*редактирование модели товара*/
    margin: 0 auto;
    font-size: 2.1vw;
    text-align: center; 
    padding: 1vw;
}
  .lll{/*редактирование цены товара*/
  margin: 0 auto;
  font-size: 2.1vw;
  text-align: center;
  padding: 1vw;
}

.rass {/*редактирование класса рассылки*/
  display: block;
  max-width: 50vw; 
  margin: 0 auto;
  border: 0.2vw solid black;
  height: 300%;
  flex-direction: column;
  }

.form{/*редактирование класса ваше имя и строкки ввода*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  justify-content: space-around;
}

.aaaa{/*редактирование строки ввода*/
  width: 15vw; 
  height: 1vw;
}

.sss{/*редактирование класса */
  width: 60%;
}